/* Alfonso Saizar - 306859 */

/* Colores: 
Verde nav: #afc957
Naranja abajo nav: #fe9f79
Naranja agregar reclamo: #c49b51
Naranja reclamos ingresados: #c17650
Verde atras del texto empresas: #38cb20
verde agregar empresa: #99f996
*/

*{
    font-family: Arial, sans-serif;
    font-size: 15px;
    margin: 0;    
}
body{
    background-color:#afc957;
}
h1{
    font-size: 25px;
}
h2{
    font-size: 20px;
}
h3{
    font-size: 17px;
}
h1,h2,h3,p,.empresas_sin_reclamos li{
    margin: 0px 0px 15px 0px;
}
.mark_naranja{
    background-color: #fe9f79;
}
.mark_verde{
    background-color: #32cc30;
}

/* Inicio NAV */
nav{
    width: 100%;
}
nav ul{
    display:flex;
    align-items: center;
}
nav ul li{
    display:inline-block;
    list-style: none;
    margin: 0px 20px;
}
nav ul li a{
    color:#117500;
}
nav ul li a:hover{
    color:#fe9f79;
}
nav ul li img{
    width: 100px;
}
#lupabusqueda{
    width: 10px;
}
/* Fin NAV */

/* Principal */
#section_principal{
    background-color:#fe9f79;
    padding: 5px;
}
/* Agregar Reclamos */
#section_agregar_reclamos{
    background-color: #c49b51;
    padding-left: 5px;
}
/* Ver Reclamos */
#section_ver_reclamos{
    margin: 15px 0px 0px 5px;
    background-color: #c17650;
}
#section_ver_reclamos li{
    list-style: none;
}
.num_reclamo{
    margin: 15px 0px;
}
/* Estadisticas */
#section_estadisticas{
    margin: 15px 5px 0px 5px;
    background-color:#c49b51;
}
/* Agregar empresa */
#section_agregar_empresa{
    margin: 15px 5px 3px 5px;
    background-color: #99f996;
}

/* Foto Alfonso Saizar*/
#section_principal img{
    width: 30px;
}

/* Boton agregar reclamo */
.button_principal{
    display: flex;
    justify-content: center;
    margin:10px
}
#section_principal button{
    background: linear-gradient(180deg, rgba(175,201,87,1) 0%, rgba(254,159,121,1) 100%);
    justify-content: center;
    align-items: center;
    padding: 15px 20px;
    border-radius: 20px;
    font-weight: 500;
    font-size: 25px;
    cursor: pointer;
}

/* Forms agregar empresa y agregar datos (label por un lado, input por otro) */
.agregar_reclamos form,.agregar_empresa form{
    display: grid;
    grid-template-columns: 100px auto;
    grid-template-areas: ". ."
    ". ."
    ". ."
    ". reclamo"
    ". button";
}
.agregar_reclamos textarea{
    grid-area: reclamo;
}
.agregar_reclamos input,.agregar_empresa input{
    width: 242px;
}
.agregar_reclamos select,.agregar_empresa select{
    width: 250px;
}
.agregar_reclamos_buttons button{
    margin-right: 10px;
}
.agregar_reclamos_buttons,.agregar_empresa button{
    grid-area: button;
    width: 70px;
    display: flex;
}
.agregar_reclamos button{
    margin-top: 3px;
}
.agregar_reclamos button,.agregar_empresa button,.reclamo button{
    cursor: pointer;
}

/* Texto de reclamo */
.reclamo{
    border:solid 2px black;
    border-radius: 15px;
    background-color: white;
    margin: 0px 50px;
    padding: 10px 0 10px 250px;
}

/* Tabla estadisticas */
.seleccion_letra,.tabla_estadisticas,.ordenar_nombre{
    display:flex;
    justify-content: center;
}
.seleccion_letra button{
    margin:3px;
    cursor: pointer;
}
.seleccion_letra button:active,.selected{
    /* Al agregar JS la clase "selected" dejará de funcionar tal como está funcinando */
    background-color: #32cc30;
    border: solid 2px black;
}
.ordenar_nombre{
    margin: 20px 0 10px 0;
}
.ordenar_nombre input{
    margin: 0 10px;
}
#center{
    text-align: center;
    margin: 0;
}
table {
    width: 90%;
    border: 1px solid #000;
    border-radius: 15px;
    background-color: white;
    margin: 0px 0px 15px 0px;
 }
td,th {
    width: auto;
    text-align: center;
    vertical-align: center;
    border: 2px solid #000;
 }
.tabla_titulos{
    font-weight: 700;
}
.noMostrarEnHTML{
    display: none;
}
.buttonYcontador{
    display:flex;
    flex-direction: row;
    align-items: center;
}
.buttonYcontador p{
    margin:0 10px;
}
/* Alfonso Saizar - 306859 */